{{render "header"}}

<div id='main-outlet' {{bind-attr class=backgroundClass}}>
    <div {{bind-attr class=":global-side-bar :side-bar-wrap hideSidebar:no-side-bar"}}>
        <section class="main-outlet-wrap">{{outlet}}</section>
        <aside class="side-bar">{{view Discourse.SidebarView}}</aside>
        <div class="clearfix"></div>
    </div>
</div>

{{render "modal"}}
{{render "composer"}}
