{{# if view.topic}}
  {{!-- <h3>Topic Stats</h3> --}}
  <ul>
    <li>Created {{date view.topic.created_at}} {{!-- {{topic-participant participant=view.topic.details.created_by}} --}}</li>
    <li>
    </li>
      Last post {{date view.topic.created_at}}
    </li>
    <li>
      {{i18n views}} {{number view.topic.views class=topic.viewsHeat}}, {{i18n posts}} {{number view.topic.posts_count}}
    </li>
  </ul>
  <hr>
  {{i18n Participants}} {{number view.topic.participant_count}}
  <ul>
    {{#if view.participantsCollapsed}}
      {{#groupedEach participant in view.topic.details.fewParticipants}}{{topic-participant participant=participant}}{{/groupedEach}}
    {{else}}
      {{#groupedEach participant in details.participants}}{{topic-participant participant=participant}}{{/groupedEach}}
    {{/if}}
  </ul>
{{/if}}

