

{{#if view.canCreateTopic}}
  <button id="create-topic" class='btn btn-default' {{action createTopic}}><i class='fa fa-plus'></i>{{i18n topic.create}}</button>
{{/if}}

{{#if view.canChangeCategoryNotificationLevel}}
  {{view Discourse.CategoryNotificationsButton category=view.category}}
{{/if}}

{{#if view.canEditCategory}}
  <button class='btn btn-default' {{action editCategory view.category}}><i class="fa fa-wrench"></i> {{i18n category.edit_long}}</button>
{{/if}}
