{{#if view.topic}}
  <h3>{{i18n 'topic_stats.title' }}</h3>
  <dl>
    <dt>{{i18n 'topic_stats.created'}}</dt>
    <dd>{{bound-date view.topic.created_at}}</dd>
    <dt>{{i18n 'topic_stats.last_answer'}}</dt>
    <dd>{{bound-date view.topic.last_posted_at}}</dd>
    <dt>{{i18n 'topic_stats.views'}}</dt>
    <dd>{{digitGrouping view.topic.views}}</dd>
    {{#if view.topic.total_reply_count}}
      <dt>{{i18n 'categories.answers'}}</dt>
      <dd>{{digitGrouping view.topic.total_reply_count}}</dd>
    {{else}}
      <dt>{{i18n 'topic_stats.posts'}}</dt>
      <dd>{{digitGrouping view.topic.posts_count}}</dd>
    {{/if}}
  </dl>
  <div class="participants">
    <h4>{{i18n 'topic_stats.participants'}}</h4>
    <div>
      {{#each view.participants}}
        {{topic-participant participant=this}}
      {{/each}}
    </div>
  </div>
  {{#if view.category.moderators}}
    <div class="moderators">
      <span>{{i18n 'category.mod_description'}}
      {{#each moderator in view.category.moderators}}
        {{#if _view.contentIndex}},{{/if}}
        <a href="{{unbound moderator.path}}" data-user-card="{{unbound moderator.username}}" data-user-card-center class="{{unbound extras}}">{{moderator.username}}</a>
      {{/each}}
      </span>
    </div>
  {{/if}}
{{/if}}

